<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rifaz.seacityv1" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocationNFC"
            android:label="@string/title_activity_location_nfc" >
        </activity>
        <activity
            android:name=".TranslateNFC"
            android:label="@string/title_activity_translate_nfc" >
        </activity>
        <activity
            android:name=".ScreenReaderNFC"
            android:label="@string/title_activity_screen_reader_nfc" >
        </activity>
        <activity
            android:name=".InformationNFC"
            android:label="@string/title_activity_information_nfc" >
        </activity>
        <activity
            android:name=".ProgressNFC"
            android:label="@string/title_activity_progress_nfc" >
        </activity>
    </application>

</manifest>
